<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Leevel\View\Parser | QueryPHP API Documentation</title>

                <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/sami.css">
        <script src="../../js/jquery-1.11.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/typeahead.min.js"></script>
        <script src="../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    <link rel="stylesheet" href="css/queryphp.css" />

    
    </head>

    <body id="class" data-name="class:Leevel_View_Parser" data-root-path="../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">QueryPHP API Documentation</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../classes.html">Classes</a></li>
                                            <li><a href="../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../traits.html">Traits</a></li>
                    <li><a href="../../doc-index.html">Index</a></li>
                    <li><a href="../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../Leevel.html">Leevel</a></li><li class="backslash">\</li><li><a href="../../Leevel/View.html">View</a></li><li class="backslash">\</li><li>Parser</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            Parser
                
        </h1>
    </div>

    <p>    class
    <strong>Parser</strong>        implements
        <a href="../../Leevel/View/IParser.html"><abbr title="Leevel\View\IParser">IParser</abbr></a>
</p>

        
    

            <div class="description">
            <p>分析模板
This class borrows heavily from the JeCat Framework and is part of the JeCat package.</p>            <p>模板引擎分析器和编译器实现技术原理来源于 Jecat 框架.
一款无与伦比的技术大餐，有幸在 2010 接触到这个框架，通过这个框架学到了很多.
它的模板引擎实现了可以将 GLADE3 的 xml 文件编译成 PHP-Gtk 的组件，也支持 Html 编译，非常震撼.</p>                    </div>
    
    
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_compiler">
                                        protected                                        <a href="../../Leevel/View/ICompiler.html"><abbr title="Leevel\View\ICompiler">ICompiler</abbr></a>
                </td>
                <td>$compiler</td>
                <td class="last">编译器.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_nodeStack">
                                        protected                                        <a href="../../Leevel/Stack/Stack.html"><abbr title="Leevel\Stack\Stack">Stack</abbr></a>
                </td>
                <td>$nodeStack</td>
                <td class="last">成对节点栈.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_jsNode">
                                        protected                                        bool
                </td>
                <td>$jsNode</td>
                <td class="last">js 风格 和 node 共用分析器.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_compilers">
                                        protected                                        array
                </td>
                <td>$compilers</td>
                <td class="last">编译器.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_parses">
                                        protected                                        array
                </td>
                <td>$parses</td>
                <td class="last">分析器.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_tags">
                                        protected                                        array
                </td>
                <td>$tags</td>
                <td class="last">分析器定界符.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_themeTree">
                                        protected                                        array
                </td>
                <td>$themeTree</td>
                <td class="last">模板树结构.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_themeStruct">
                    static                    protected                                        array
                </td>
                <td>$themeStruct</td>
                <td class="last">模板项结构.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_sourceFile">
                                        protected                                        string
                </td>
                <td>$sourceFile</td>
                <td class="last">当前编译源文件.</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_cachePath">
                                        protected                                        string
                </td>
                <td>$cachePath</td>
                <td class="last">当前编译缓存文件.</td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>(<a href="../../Leevel/View/ICompiler.html"><abbr title="Leevel\View\ICompiler">ICompiler</abbr></a> $compiler)
        
                                            <p>构造函数.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    $this
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerCompilers">registerCompilers</a>()
        
                                            <p>注册视图编译器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    $this
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerParsers">registerParsers</a>()
        
                                            <p>注册视图分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_doCompile">doCompile</a>(string $file, null|string $cachePath = null, bool $isContent = false)
        
                                            <p>执行编译.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_revertEncode">revertEncode</a>(string $content)
        
                                            <p>code 编译编码，后还原</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_globalEncode">globalEncode</a>(string $content)
        
                                            <p>tagself 编译编码，后还原</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_globalParse">globalParse</a>(string $compiled)
        
                                            <p>全局编译器 tagself.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_jsvarParse">jsvarParse</a>(string $compiled)
        
                                            <p>js 风格 变量分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_codeParse">codeParse</a>(string $compiled)
        
                                            <p>code 方式分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_jsParse">jsParse</a>(string $compiled)
        
                                            <p>js 风格分析器 与 node 公用分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_nodeParse">nodeParse</a>(string $compiled)
        
                                            <p>node 分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_normalizeNodeParse">normalizeNodeParse</a>(string $compiled)
        
                                            <p>格式化 node 分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_revertParse">revertParse</a>(string $compiled)
        
                                            <p>code 还原分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_globalrevertParse">globalrevertParse</a>(string $compiled)
        
                                            <p>tagself 还原分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_findNodeTag">findNodeTag</a>(string $compiled)
        
                                            <p>查找成对节点.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_packNode">packNode</a>(string $compiled)
        
                                            <p>装配节点.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_findHeadTag">findHeadTag</a>(array $tag, array $tailTag)
        
                                            <p>查找 node 标签.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerParser">registerParser</a>(string $tag)
        
                                            <p>注册分析器.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerCompiler">registerCompiler</a>($type, $name, $tag)
        
                                            <p>注册编译器 code 和 node 编译器注册.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_compileThemeTree">compileThemeTree</a>()
        
                                            <p>逐个编译模板树.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_compileTheme">compileTheme</a>(array $theme)
        
                                            <p>分析模板调用编译器编译.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_makeCacheFile">makeCacheFile</a>(string $cachePath, string $compiled)
        
                                            <p>创建缓存文件.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTag">getTag</a>(string $type)
        
                                            <p>取得模板分析器定界符.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addTheme">addTheme</a>(array $theme)
        
                                            <p>将模板结构加入树结构中去.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_clearThemeTree">clearThemeTree</a>()
        
                                            <p>清理模板树对象</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_topTheme">topTheme</a>(array $theme)
        
                                            <p>添加顶层树对象</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addThemeTree">addThemeTree</a>(array $top, array $new)
        
                                            <p>将新的模板加入到树结构中去.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getPosition">getPosition</a>(string $content, string $find, int $start)
        
                                            <p>分析匹配标签的位置.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_positionRelative">positionRelative</a>(array $value, array $beyond)
        
                                            <p>对比两个模板相对位置
这个和两个时间段之间的关系一样，其中交叉在模板引擎中是不被支持，因为无法实现
除掉交叉，剩下包含、被包含、前面和后面，通过位置组装成一颗树结构.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_normalizeThemeStruct">normalizeThemeStruct</a>(array $theme)
        
                                            <p>整理模板项结构.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_escapeRegexCharacter">escapeRegexCharacter</a>(string $txt)
        
                                            <p>转义正则表达式特殊字符.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLocation">getLocation</a>(array $position)
        
                                            <p>取得模板位置.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLocationSource">getLocationSource</a>(array $position)
        
                                            <p>取得模板位置源码</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at         line 163</div>
        <code>                    
    <strong>__construct</strong>(<a href="../../Leevel/View/ICompiler.html"><abbr title="Leevel\View\ICompiler">ICompiler</abbr></a> $compiler)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>构造函数.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../Leevel/View/ICompiler.html"><abbr title="Leevel\View\ICompiler">ICompiler</abbr></a></td>
                <td>$compiler</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerCompilers">
        <div class="location">at         line 173</div>
        <code>                    $this
    <strong>registerCompilers</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>注册视图编译器.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>$this</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerParsers">
        <div class="location">at         line 191</div>
        <code>                    $this
    <strong>registerParsers</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>注册视图分析器.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>$this</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_doCompile">
        <div class="location">at         line 209</div>
        <code>                    string
    <strong>doCompile</strong>(string $file, null|string $cachePath = null, bool $isContent = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>执行编译.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$file</td>
                <td></td>
            </tr>
                    <tr>
                <td>null|string</td>
                <td>$cachePath</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$isContent</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_revertEncode">
        <div class="location">at         line 266</div>
        <code>        static            string
    <strong>revertEncode</strong>(string $content)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>code 编译编码，后还原</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$content</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_globalEncode">
        <div class="location">at         line 282</div>
        <code>        static            string
    <strong>globalEncode</strong>(string $content)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>tagself 编译编码，后还原</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$content</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_globalParse">
        <div class="location">at         line 296</div>
        <code>            protected        
    <strong>globalParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>全局编译器 tagself.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_jsvarParse">
        <div class="location">at         line 331</div>
        <code>            protected        
    <strong>jsvarParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>js 风格 变量分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_codeParse">
        <div class="location">at         line 365</div>
        <code>            protected        
    <strong>codeParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>code 方式分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_jsParse">
        <div class="location">at         line 408</div>
        <code>            protected        
    <strong>jsParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>js 风格分析器 与 node 公用分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_nodeParse">
        <div class="location">at         line 420</div>
        <code>            protected        
    <strong>nodeParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>node 分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_normalizeNodeParse">
        <div class="location">at         line 432</div>
        <code>            protected        
    <strong>normalizeNodeParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>格式化 node 分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_revertParse">
        <div class="location">at         line 446</div>
        <code>            protected        
    <strong>revertParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>code 还原分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_globalrevertParse">
        <div class="location">at         line 478</div>
        <code>            protected        
    <strong>globalrevertParse</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>tagself 还原分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_findNodeTag">
        <div class="location">at         line 511</div>
        <code>            protected        
    <strong>findNodeTag</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>查找成对节点.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_packNode">
        <div class="location">at         line 594</div>
        <code>            protected        
    <strong>packNode</strong>(string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>装配节点.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_findHeadTag">
        <div class="location">at         line 713</div>
        <code>            protected        bool
    <strong>findHeadTag</strong>(array $tag, array $tailTag)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>查找 node 标签.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$tag</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$tailTag</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerParser">
        <div class="location">at         line 723</div>
        <code>            protected        
    <strong>registerParser</strong>(string $tag)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>注册分析器.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$tag</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerCompiler">
        <div class="location">at         line 737</div>
        <code>            protected        
    <strong>registerCompiler</strong>($type, $name, $tag)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>注册编译器 code 和 node 编译器注册.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$type</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$tag</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_compileThemeTree">
        <div class="location">at         line 753</div>
        <code>            protected        string
    <strong>compileThemeTree</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>逐个编译模板树.</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_compileTheme">
        <div class="location">at         line 771</div>
        <code>            protected        
    <strong>compileTheme</strong>(array $theme)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>分析模板调用编译器编译.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$theme</td>
                <td>待编译的模板</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_makeCacheFile">
        <div class="location">at         line 802</div>
        <code>            protected        
    <strong>makeCacheFile</strong>(string $cachePath, string $compiled)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>创建缓存文件.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$cachePath</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$compiled</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTag">
        <div class="location">at         line 836</div>
        <code>            protected        array
    <strong>getTag</strong>(string $type)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>取得模板分析器定界符.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$type</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addTheme">
        <div class="location">at         line 846</div>
        <code>            protected        
    <strong>addTheme</strong>(array $theme)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>将模板结构加入树结构中去.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$theme</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_clearThemeTree">
        <div class="location">at         line 855</div>
        <code>            protected        
    <strong>clearThemeTree</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>清理模板树对象</p>                                                </div>
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_topTheme">
        <div class="location">at         line 865</div>
        <code>            protected        
    <strong>topTheme</strong>(array $theme)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>添加顶层树对象</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$theme</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addThemeTree">
        <div class="location">at         line 878</div>
        <code>            protected        array
    <strong>addThemeTree</strong>(array $top, array $new)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>将新的模板加入到树结构中去.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$top</td>
                <td>顶层模板</td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$new</td>
                <td>待加入的模板</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPosition">
        <div class="location">at         line 952</div>
        <code>            protected        array
    <strong>getPosition</strong>(string $content, string $find, int $start)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>分析匹配标签的位置.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$content</td>
                <td>待编译的模板</td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$find</td>
                <td>匹配的标签</td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$start</td>
                <td>起始查找的位置</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td>start 标签开始的位置（字节数）</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_positionRelative">
        <div class="location">at         line 1034</div>
        <code>            protected        string
    <strong>positionRelative</strong>(array $value, array $beyond)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>对比两个模板相对位置
这个和两个时间段之间的关系一样，其中交叉在模板引擎中是不被支持，因为无法实现
除掉交叉，剩下包含、被包含、前面和后面，通过位置组装成一颗树结构.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$value</td>
                <td>待分析的第一个模板</td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$beyond</td>
                <td>待分析的第二个模板</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_normalizeThemeStruct">
        <div class="location">at         line 1141</div>
        <code>            protected        array
    <strong>normalizeThemeStruct</strong>(array $theme)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>整理模板项结构.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$theme</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_escapeRegexCharacter">
        <div class="location">at         line 1153</div>
        <code>            protected        string
    <strong>escapeRegexCharacter</strong>(string $txt)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>转义正则表达式特殊字符.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$txt</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLocation">
        <div class="location">at         line 1165</div>
        <code>            protected        string
    <strong>getLocation</strong>(array $position)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>取得模板位置.</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$position</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLocationSource">
        <div class="location">at         line 1183</div>
        <code>            protected        string
    <strong>getLocationSource</strong>(array $position)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>取得模板位置源码</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$position</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
