<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>queryyetsimple\view\iparser | QueryPHP API Documentation</title>

                <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/sami.css">
        <script src="../../js/jquery-1.11.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/typeahead.min.js"></script>
        <script src="../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    <link rel="stylesheet" href="css/queryphp.css" />

    
    </head>

    <body id="class" data-name="class:queryyetsimple_view_iparser" data-root-path="../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">QueryPHP API Documentation</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../classes.html">Classes</a></li>
                                            <li><a href="../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../traits.html">Traits</a></li>
                    <li><a href="../../doc-index.html">Index</a></li>
                    <li><a href="../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                        <li><a href="../../queryyetsimple.html">queryyetsimple</a></li><li class="backslash">\</li><li><a href="../../queryyetsimple/view.html">view</a></li><li class="backslash">\</li><li>iparser</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            iparser
                
        </h1>
    </div>

    <p>    interface
    <strong>iparser</strong>
</p>

        
    

            <div class="description">
            <p>iparser 接口</p>                                </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="queryyetsimple\view\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerCompilers">registerCompilers</a>()
        
                                            <p>注册视图编译器</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="queryyetsimple\view\$this">$this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerParsers">registerParsers</a>()
        
                                            <p>注册视图分析器</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_doCombile">doCombile</a>(string $sFile, string $sCachePath, boolean $bReturn = false)
        
                                            <p>执行编译</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_revertEncode">revertEncode</a>(string $sContent)
        
                                            <p>code 编译编码，后还原</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    static&nbsp;string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_globalEncode">globalEncode</a>(string $sContent)
        
                                            <p>tagself 编译编码，后还原</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_registerCompilers">
        <div class="location">at         line 38</div>
        <code>                    <abbr title="queryyetsimple\view\$this">$this</abbr>
    <strong>registerCompilers</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>注册视图编译器</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="queryyetsimple\view\$this">$this</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerParsers">
        <div class="location">at         line 45</div>
        <code>                    <abbr title="queryyetsimple\view\$this">$this</abbr>
    <strong>registerParsers</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>注册视图分析器</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="queryyetsimple\view\$this">$this</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_doCombile">
        <div class="location">at         line 55</div>
        <code>                    string
    <strong>doCombile</strong>(string $sFile, string $sCachePath, boolean $bReturn = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>执行编译</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$sFile</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$sCachePath</td>
                <td></td>
            </tr>
                    <tr>
                <td>boolean</td>
                <td>$bReturn</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_revertEncode">
        <div class="location">at         line 63</div>
        <code>        static            string
    <strong>revertEncode</strong>(string $sContent)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>code 编译编码，后还原</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$sContent</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_globalEncode">
        <div class="location">at         line 71</div>
        <code>        static            string
    <strong>globalEncode</strong>(string $sContent)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>tagself 编译编码，后还原</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$sContent</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
